@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=IM+Fell+English:ital@0;1&display=swap");
@import url("components/container.css");
@import url("components/illustration.css");
@import url("components/banner.css");
@import url("components/btn-green.css");
@import url("components/card.css");
.main-title {
	font-size: 45px;
	font-family: "IM Fell English", serif;
}

.subtitle {
    font-size: 35px;
    font-family: "IM Fell English", serif;
    margin-bottom: 3px;
}

body {
  	 font-family: "Agdasima", sans-serif;
  	 font-weight: 700; 
  	 font-style: normal; 
  	 font-size: 20px;
  	 color: #4A4947;
     background-color: #a9b388;  
     text-align: center; 
}

h1, h2, h3 {
	 font-family: "IM Fell English", serif;
  	 font-weight: 400;
  	 font-style: normal;
  	 font-size: 35px;
    margin-bottom: 3px; 
}

p {
    margin-top: 0; 
}
